$color-charcoal-brown: #312926;
$color-ivory:          #f9f0e8;
$color-sand-beige:     #e6d2b5;
$color-sand:           #d1b296;
$color-terracotta:     #A9472C; 
$color-olive-moss:     #758353;
$color-black:          #000 ;
$color-white:          #fff; 